<%= stylesheet_link_tag 'nonHomeNav', media: 'print, screen' %>
<div class="container belowNav">
<h1>Donations are always welcome!</h1>
<p>We are in need for funding to help our organization grow. We are a registered 501 (c)(3) non-profit corporation in Connecticut, which means your donations may be tax deductible.</p>
<p>Our team members are all volunteers and almost every expense they incur is funded by them alone.  The programs we sponsor and provide support for, have proved invaluable to many communities and the requests for more programs keep on coming.</p>
<p>Your donation would keep us growing and active. Donations would help us:</p>

<ul>
  <li>Purchase new children's books to support the R.E.A.D.® program</li>
  <li>Mailing list expense - printing, design, postage</li>
  <li>Purchase materials for PowerPoint presentations</li>
  <li>Instructor/Evaluator trainings</li>
  <li>Website Hosting - Annual Expense</li>
  <li>Print Literature to help get the word out</li>
  <li>Purchase an E-Z-Up for fairs</li>
  <li>Team member identification-shirts/bandanas for pets</li>
</ul>


<p>If you would like to donate to our organization, please click on the donate button below.  Your support is greatly appreciated</p>
<p>If you have any questions, or would like more information <%= link_to 'please contact us', contacts_path, class:'linked' %></p>
<div class="row"><div class="container-fluid"><p><strong>Cold Noses, Warm Hearts</strong></p>
<!--Donate Button --><%= image_tag(paypal.jpg) %>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAwtDAFU2kf4XrmhhwGAWmoKFbDNhYJUJgBVsKdxPC0psOkkPn1arkvDb4KClye9xA4TFrxY1SmjMzbZ4FY5tuAXt4gAUgozZwOtsqV928XuErqHlzxKzHM9FE213Nv2gaSCBy9ur2QLkFKW7zW+2uGhzMhDb/U3u6hulRRsHNXOzELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQISnzS6VWKaBuAgYgMY+rd/QAlImj1VGmphkg2hqkzoAc9Nh5A5g3g334aaGJs0qYAHU1MRy9BnOfBfXf7ldBJUi0MIgMLkYAgCTObkGOF+8Vye6U/v7MS6XyJlwfe+qYfDY6dgPthvpfVA562VaUOmX5AqHrXp/ctYRb4g5b5TMjrxAaiK1yHtQZwdSzn8mgCPcmUoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwMzI1MTI0NDE0WjAjBgkqhkiG9w0BCQQxFgQUBfLDxwMtTNdc0IHLrN51UVyLPGAwDQYJKoZIhvcNAQEBBQAEgYBmkvjpp+cuE5s+SBrHdyxtFnWt+f6lcxUbCoU2PlEzctLrTkMWykIj19gGunN/yGMkUnEZT8lVY6w4polAzWeuG1+vWcW8TomuKMNXytREMUlJFBdDbk+xtuc4NIRirPY55atcZpfYmGmSbB6WrBAcne1WdHbQl2Np1WqXaPrunA==-----END PKCS7-----
">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></div></div>
</div>