.row
  .main
    .center
      %h1
        Upcoming Events
        = home.each do |event|
.row
  .container-fluid
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog1.jpg")
        .caption

          %h4 = event.title
          %h3 = event.start_time
          %p = event.end_time
          %p = event.description
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog2.jpg")
        .caption
          %h4 April 14, 2016
          %h3 Service Dog Training
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog3.jpg")
        .caption
          %h4 April 29, 2016
          %h3 Adoption Event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog4.jpg")
        .caption
          %h4 May 2, 2016
          %h3 READ event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..

.container.greygrid
  .col-md-2
  .col-md-8.center
    %h3
      WHAT IS COLD NOSES, WARM HEARTS?
    %h2
      We are an all volunteer organization dedicated to animal assisted therapy
    %p
      Cold Noses, Warm Hearts, Inc. is a non-profit, all volunteer organization,  dedicated to sharing well trained registered therapy animals and Reading Education Assistance Dogs, (R.E.A.D.) in meaningful programs that provide comfort and caring through the human-animal bond.
      %br
      %br
      Our services are offered in a wide variety of settings including but not limited to hospitals, extended care facilities, universities, children's centers and other facilities where therapy animals are needed along with R.E.A.D. programs in schools and libraries   We strive to make a positive difference in all the lives we touch.
  .col-md-2
%br

.container-fluid
  .col-md-5.margin.dogMargin-left
    .row.darken
      =image_tag("dog1.jpg", class: "bigDog")
      =image_tag("magGlass.png", class: "dogTextMid")
  .col-md-3.dogMargin
    .row.darken
      =image_tag("eventdog3-2.jpg", class: "smallDogTop")
      =image_tag("magGlass.png", class: "dogTextTop")
    .row.darken
      =image_tag("dog3.jpg", class: "smallDogBottom")
      =image_tag("magGlass.png", class: "dogTextBot")
  .col-md-3.dogMargin
    .row.darken
      =image_tag("dog4.jpg", class: "smallDogTop")
      =image_tag("magGlass.png", class: "dogTextTop")
    .row.darken
      =image_tag("eventdog2.jpg", class: "smallDogBottom")
      =image_tag("magGlass.png", class: "dogTextBot")

.row
  .col-md-4
    %br
    %br
    %br
    %br
    %br


