.row
  .main
    .center
      %h1
        Upcoming Events
  .row
    .container
      .col-md-4.circle
        %header
          %h4 May
          %h4 14
      .col-md-4.circle
        %header
          %h4 May
          %h4 25
      .col-md-4.circle
        %header
          %h4 June
          %h4 8
      .col-md-4.circle
        %header
          %h4 June
          %h4 17
%br
.flex-images
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog1.jpg")
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog2.jpg")
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog3.jpg")
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog4.jpg")
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog4.jpg")
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog3.jpg")
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog2.jpg")
  .item{"data-h" => "350", "data-w" => "350"}
    =image_tag("dog1.jpg")
.row
  .col-md-4
    %h2 Getting Started
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br


