.row
  .main
    .center
      %h1
        Upcoming Events
.row
  .container-fluid
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog1.jpg")
        .caption
          %h4 April 2, 2016
          %h3 READ event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog2.jpg")
        .caption
          %h4 April 14, 2016
          %h3 Service Dog Training
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog3.jpg")
        .caption
          %h4 April 29, 2016
          %h3 Adoption Event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog4.jpg")
        .caption
          %h4 May 2, 2016
          %h3 READ event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
.container-fluid
  .col-md-5.margin.dogMargin-left
    .row
      =image_tag("eventdog4.jpg", class: "bigDog")
      .dogText Test Text
  .col-md-3.dogMargin
    .row
      =image_tag('dog4.jpg', class: "smallDogTop")
      .dogText Test Text
    .row
      =image_tag("dog3.jpg", class: "smallDogBottom")
  .col-md-3.dogMargin
    .row
      =image_tag("dog4.jpg", class: "smallDogTop")
      .dogText Test Text
    .row
      =image_tag("eventdog1.jpg", class: "smallDogBottom")

.row
  .col-md-4
    %h2 Getting Started
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br


