.row
  .main
    .center
      %h1
        Upcoming Events
.row
  .container-fluid
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog1.jpg")
        .caption
          %h4 April 2, 2016
          %h3 READ event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog2.jpg")
        .caption
          %h4 April 14, 2016
          %h3 Service Dog Training
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog3.jpg")
        .caption
          %h4 April 29, 2016
          %h3 Adoption Event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
    .col-sm-6.col-md-3
      .thumbnail
        =image_tag("eventdog4.jpg")
        .caption
          %h4 May 2, 2016
          %h3 READ event
          %p
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae dui et nunc ornare vulputate..
%br
    //=image_tag("dog1.jpg")
    //=image_tag("dog2.jpg")
    //=image_tag("dog3.jpg")
    //=image_tag("dog4.jpg")
    //=image_tag("dog1.jpg")
.row
  .col-md-4
    %h2 Getting Started
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br
    %button.alert
      Test
    %br


