<% provide(:title, "Therapy Team") %>
<h1>Becoming a Therapy Team</h1>
<p>Becoming a therapy animal team is a rewarding volunteer activity for everyone involved.
  Therapy animals serve in a variety of roles. Some of them visit people in hospitals and long
  term care facilities, others participate in reading programs at schools, some go into advanced
  training and respond to emergency situations and help people to remain calm and feel safe while
  talking to authorities.  There are several different ways to become a team with your animal, and
  many different organizations. There are basic guidelines and procedures to follow regardless of
  what path you take to become a therapy animal team.</p>

<h6>Instructions</h6>
<ol>
  <li>First, evaluate whether or not your pet will enjoy therapy work. A worried animal who fears noises and new people will not be well suited to going to schools or hospitals to be petted by new people. Usually a calm disposition and solid on leash obedience will help you and your animal to meet the handling requirements.</li>
  <li>Once it is determined that therapy work will be fulfilling to you and your pet, you will need to get some solid obedience training. A good guideline for the level of obedience that will be required is the Canine Good Citizen Test offered by the AKC.</li>
  <li>In addition to looking for solid obedience skills, many therapy animal organizations will test for reactivity to noise, comfort level with medical equipment, and socialization to other animals.</li>
  <li>Find a therapy animal organization that suits you and your pet.  Some of the recognized national organizations are;   InterMountain Therapy Animals, Therapy Dogs Incorporated, Delta Society and Bright and Beautiful.</li>
  <li>Find out what the testing requirements are with your selected group. Cold Noses, Warm Hearts has evaluators qualified to test for Delta society, Intermountain Therapy Animals and Therapy Dog Incorporated.</li>
  <li> If you want to work at a particular facility, inquire with them about volunteer requirements.</li>
</ol>

<p>Spend some time educating yourself of appropriate etiquette for medical settings, interacting with
  people who have disabilities, and child safety during therapy visits.
  Many organizations offer classes on these subjects and some require them before you will be allowed to visit.</p>

<!-- The href redirect to the CONTACT US page-->
<p>If you have any questions, or would like more information <%= link_to 'please contact us', contact_u_path %></p><%= link_to dog_path %>