<p>
  <strong>Title:</strong>
  <%= comment.title %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>

<p>
  <%=link_to 'Destroy Comment', [comment.event, comment],
             method: :delete,
             data: {confirm: 'Are you sure?' } %>
</p>