.navbar {
  top: -5px;
  left: -10px;
  position: fixed;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background: rgba(0,0,0,0);
  width: 101vw;
  z-index: 9999;
}
.scrolled {
  background: rgba(0,0,0,0.8);
}
.nav li {
  position: relative;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  text-transform: uppercase;
}
.fpadding{
  padding-bottom: 250px;
}
.footer-inverse{
  background: rgba(0,0,0,0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  clear:both;
  height: 210px;
}
.footer-inception{
  background: rgba(0,0,0,0.8);

}
.footer-links{
  text-align: left;
  color: white;
}
.end-links{
  text-align: center;
  color: white;

}
html {
  position: relative;
  min-height: 100%;
}
