// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
a {
  color: white;
}
.main {
  margin-top:15px;
}
.center {
  text-align:center;
  line-height: 2;
}
.center > h1 {
  font-size:70px;
}
@import "banner";
@import "navbar";
@import "dogGrids";
@import "signin";

.thumbnail > img {
  width:100%;
}

h3 {
  color: #1e83ec;
}
.greygrid {
  margin-left: 0;
  margin-right: 0;
  width:100%;
  background-color: #4a4a4a;
  h2 {
    color: white;
  }
  p {
    color: white;
  }
}
.goHome {
  margin-left:2%;
  a {
    color:white;
  }
  a:visited {
    color:white;
  }
}
 a:visited {
  color:white;
}
#calendar {
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
}
.belowNav {
  margin-top: 40px;
}
.fc th, .fc td {
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 2px;
  padding: 0;
  vertical-align: top;
}
.fc-unthemed .fc-today {
  background: rgba(52, 190, 255, 0.51);
  opacity: .9;
}

.eventRows {
  margin-top: 1%;
  margin-bottom: 1%;
  .eventText {
    margin-top: 0.5%;
  }
}

