// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
a {
  color: #fff;
}
.main {
  margin-top:15px;
}
.center {
  text-align:center;
}
.center > h1 {
  font-size:70px;
}
@import "banner";
@import "navbar";
@import "eventcircles";

